* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

.container {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  background-color: #F5F5F5; }
  .container h1 {
    font-size: 6em;
    font-weight: 100;
    text-align: center;
    color: #D8D8D8;
    margin: 0;
    margin-bottom: 20px; }

.todoBody {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 2px #D8D8D8;
  color: #9F9F9F;
  font-weight: 100; }

.todos {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .todos .listTitle {
    display: block;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 1px #D8D8D8;
    font-size: 2em; }
    .todos .listTitle span {
      color: #f6f6f6;
      display: inline-block;
      width: 8%;
      text-align: center;
      padding: 15px;
      margin-right: 10px;
      font-size: 24px; }
  .todos .todoItem {
    display: block;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 1px #D8D8D8;
    font-size: 1.25em; }
    .todos .todoItem .checkbox {
      display: inline-block;
      width: 8%;
      padding: 15px;
      margin-right: 10px;
      font-size: 24px; }
      .todos .todoItem .checkbox:hover {
        cursor: pointer; }
    .todos .todoItem .todoText {
      display: inline-block;
      width: 88%; }
      .todos .todoItem .todoText:hover {
        cursor: pointer; }
  .todos .todoInput {
    display: block;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 1px #D8D8D8; }
    .todos .todoInput input {
      padding: 15px;
      width: 100%; }

.todoMenu {
  display: block;
  width: 100%;
  color: #9F9F9F; }
  .todoMenu .todoCount {
    display: inline-block;
    width: 20%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 4%; }
  .todoMenu ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .todoMenu ul li {
      display: inline-block;
      text-align: center;
      padding: 5px; }
      .todoMenu ul li:hover {
        cursor: pointer; }
  .todoMenu .clear {
    display: inline-block;
    margin-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px; }
    .todoMenu .clear:hover {
      cursor: pointer;
      border: 1px solid #D8D8D8; }

.todoMenuActive {
  border: 1px solid #D8D8D8;
  border-radius: 3px; }
