* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

.container {
  width: 80%;
  margin: 0 auto; }

.todoBody {
  background-color: gray; }

.todos {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .todos .todoTitle {
    display: block;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 1px gray; }
  .todos .todoItem .checkbox {
    display: inline-block;
    width: 8%;
    margin-right: 2%; }
  .todos .todoItem .todoText {
    display: inline-block;
    width: 90%; }
    .todos .todoItem .todoText .editToDo {
      display: none; }

.showEdit {
  display: block; }
